body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #d1d1d1;
}

.top-bar {
    position: relative;
    background: #d3d8d9;
    box-shadow: 0 1px 10px 1px #999;
    padding: 0.4em 0;
}

.link-button {
    display: block;
    width: 11em;
    background: #9baac3;
    margin: 0 auto;
    border-radius: 1em;
    text-align: center;
    padding: 0.1em 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    color: #323b5b;
}

.link-button:hover {
    background: #a8b9d3;
}

.viewer {
}
