body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #d1d1d1;
    caret-color: transparent;
}

.top-bar {
    position: fixed;
    width: 100%;
    top: 0;
    background: #d3d8d9;
    box-shadow: 0 1px 10px 1px #999;
    padding: 0.4em 0;
}

.link-button {
    display: block;
    width: 20em;
    margin: 0 auto;
    border-radius: 1em;
    text-align: center;
    padding: 0.1em 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #323b5b;
    text-decoration: underline;
}

.link-button:hover {
    color: #4d5b8c;
}

.resume {
    display: block;
    margin: 3em auto 0;
    width: 80%;
    box-shadow: 0 1px 10px 1px #999;
}

.spacer {
    height: 1em;
}

@media (min-width: 0px) {
    .link-button {
        font-size: 1.5em;
    }
}

@media (min-width: 1100px) {
    .link-button {
        font-size: 1em;
    }
}

@media print {
    .resume {
        width: 100%;
        box-shadow: none;
        margin: 0;
    }

    .top-bar {
        display: none;
    }

    .spacer {
        display: none;
    }
}
